@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto;
  }

  section {
    @apply min-h-[calc(100vh-70px)] pb-20;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer rounded px-6 py-2 font-bold text-white transition-all hover:brightness-75 disabled:cursor-default disabled:opacity-50 disabled:brightness-100;
  }

  .container {
    @apply pt-2 sm:pt-4 md:pt-6 lg:pt-8;
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background: #23705d;
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #397e6d;
  }
}
